video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh; /* Set a height of 75 viewport height units */
    object-fit: cover; /* Ensure the video covers the entire container */
    z-index: -1; /* Put the video behind other content */
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0; 
}

.card-carousel,
.cont,
header {
    position: relative;
    z-index: 1; 
}

.next,
.prev,
.first,
.second {
    opacity: 0;
    transition: opacity 1s ease;
}

.card-carousel:hover .prev,
.card-carousel:hover .next {
    transition: opacity 1s ease;
    opacity: 1;
}

.card {
    position: relative;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    color: white;
    padding: 15px; /* Adjust padding as needed */
    box-sizing: border-box;
}

/* .bg-color {
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    height: 77%;
    z-index: -1; 
} */